#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

.facebookBackground {
background-image: url(../assets/facebook_back.png);
background-repeat: repeat-y;
background-color: #e7ebf2;
height: 100%;
}

.facebookHeader {
background-image: url(../assets/background-header.png);
background-repeat: no-repeat;
height: 98px;
opacity: 0.35;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
filter: alpha(opacity=35);
}
