<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=620">
	<title>Wollyv2</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

<link rel="stylesheet" href="css/html5demos.css">
<script src="js/h5utils.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>
